<h1 class="text-center">Add new user</h1>
<form class="example-form">

</form>

<form class="text-center">
  <mat-form-field>
    <mat-label>First name</mat-label>
    <input matInput
           name="name" (keyup)="formUpdated($event)"
           [formControl]="nameFormControl" [errorStateMatcher]="matcher"
           placeholder="Doe">
    <mat-error *ngIf="nameFormControl.hasError('required')">
      Last name is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="nameFormControl.hasError('minlength')">
      Should be longer than 1 character
    </mat-error>
    <mat-error *ngIf="nameFormControl.hasError('maxlength')">
      Should be shorter than 20 characters
    </mat-error>
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-label>First name</mat-label>
    <input matInput
           name="surname" (keyup)="formUpdated($event)"
           [formControl]="surNameFormControl" [errorStateMatcher]="matcher"
           placeholder="Doe">
    <mat-error *ngIf="surNameFormControl.hasError('required')">
      Last name is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="surNameFormControl.hasError('minlength')">
      Should be longer than 1 character
    </mat-error>
    <mat-error *ngIf="surNameFormControl.hasError('maxlength')">
      Should be shorter than 20 characters
    </mat-error>
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput
           name="email" (keyup)="formUpdated($event)"
           [formControl]="emailFormControl" [errorStateMatcher]="matcher"
           placeholder="Ex. pat@example.com">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form>
<div class="text-center">
  <button (click)="createUser()" mat-raised-button color="primary">Confirm</button>
</div>
