<mat-form-field class="example-full-width">
  <mat-label>Search user</mat-label>
  <input (keyup)="performSearch($event)" matInput placeholder="John Doe">
</mat-form-field>
<mat-grid-list gutterSize="10px" cols="3">
  <mat-grid-tile *ngFor="let user of this.users;">
    <app-user-card [user]="user"></app-user-card>
  </mat-grid-tile>
</mat-grid-list>
<mat-paginator
               [length]="usersCount"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25]"
               (page)="pageChanged($event)"
>
</mat-paginator>
